*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;

  background: url("https://images.unsplash.com/photo-1655827751308-b596d5d52296?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0OHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  box-shadow: 2px 3px 4px black;
  margin: 1rem auto;
  padding: 20px;
  width: 420px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.7);

  color: white;
  border-radius: 20px;
}
input {
  padding: auto 30px;
  padding: 5px;
  font-size: 1.3rem;
  outline: none;
  border-radius: 50px;
}
.submit {
  outline: none;
  border: none;
  color: white;
  background-color: black;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.submit:active {
  transform: scaleX(0.9);
}
.inputBox {
  padding: 10px 0 20px 0;
}
.resultBox {
  padding: 20px 0;
  font-weight: bolder;
}
h1 {
  color: green;
  font-weight: bolder;
  font-size: 1.8rem;
}

p {
  padding: 10px;
  font-weight: bolder;
  font-size: 1.4rem;
}
.description {
  text-transform: capitalize;
}
.error {
  top: 30%;
  color: red;
  font-weight: bolder;
  font-size: 1.4rem;
}
